:root {
    --background-body: #FFFFFF;
    --background-group-post: #F0F0F5; 
    --color-primary-1: #fff9ea;
}

* {
    font-family: 'Playfair Display', serif;
    padding: 0;
    margin: 0;
    /* max-height: 100vh; */
    /* max-width: 100vw;  */
    /* Evita que elementos ultrapassem a largura da tela */
    /* box-sizing: border-box;  */
    /* Garante que margens e paddings não afetem o tamanho */
}

header {
    outline: 1px solid red;
    margin-top: 30px;
    text-align: center;
    font-weight: 400;
    font-size: x-large;
    font-style: italic;
    letter-spacing: 5px;
}

body{
    outline: 1px solid blue;
    max-height: 100vh;
    max-width: 100vw; /* Evita que elementos ultrapassem a largura da tela */
    box-sizing: border-box; /* Garante que margens e paddings não afetem o tamanho */
}

footer {
    outline: 1px solid green;
    text-align: center;
    max-width: 100vw;
    max-height: 100vh;
}

.container {
    outline: 1px solid yellow;
    /* height: 100vh;
    width: 100vw; */
    display: flex;
}

.left-sidebar {
    outline: 1px solid purple;
    /* height: 100vh;
    width: 100vw; */
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.space-poetry {
    outline: 1px solid pink;
    /* height: 100vh;
    width: 100vw; */
}