<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/main.css" />
    <title>Fragmentos</title>
</head>

<body>
    <div class="title">
        <h1>Fragmentos</h1>
    </div>
    <div class="container">
        <div class="left-sidebar">
            <h1>Henrique Otogami</h1>
        </div>
        <div class="add-poetry">
            <h1>+</h1>
        </div>
        <div class="grid-cards-poetry">
            <div class="card-poetry">

            </div>
            <div class="card-poetry">

            </div>
            <div class="card-poetry">

            </div>
        </div>
    </div>
    <footer>
        <h2>Desenvolvido por Henrique Otogami - 2025</h2>
    </footer>
</body>

</html>